@model dynamic

@{
    ViewBag.Title = "Item GP Calculator";
}

<h2>Item GP Calculator</h2>

<p class="lead">
    Item GP Formula: 4.83 * (2 ^ ((<b>ILVLHERE</b>/26) + (<b>ITEM RARITY</b> - 4)) * <b>SLOT WEIGHT</b>) * 1 = <b>GP</b>
</p>

<form class="form-horizontal">

    <div class="form-group">
        <label class="col-md-2 control-label" for="item-rarity">Item Rarity</label>
        <div class="col-sm-10">
            <select id="item-rarity" class="form-control">
                <option value="1">Common</option>
                <option value="2">Uncommon</option>
                <option value="3">Rare</option>
                <option value="4" selected="selected">Epic</option>
                <option value="5">Legendary</option>
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="col-md-2 control-label" for="item-rarity">Slot</label>
        <div class="col-sm-10">
            <select id="slot-weight" class="form-control">
                <option value="1">Head</option>
                <option value="0.5">Neck</option>
                <option value="0.75">Shoulder</option>
                <option value="0.5">Cloak</option>
                <option value="1">Chest</option>
                <option value="0.5">Wrist</option>
                <option value="0.75">Hands</option>
                <option value="0.75">Waist</option>
                <option value="1">Legs</option>
                <option value="0.75">Feet</option>
                <option value="0.5">Ring</option>
                <option value="0.75">Trinket</option>
                <option value="1.5">Main Hand Weapon</option>
                <option value="1">Off Hand Weapon</option>
                <option value="0.5">Caster Off Hand</option>
                <option value="0.5">Shield</option>
                <option value="0.5">Ranged</option>
                <option value="0.5">Wand</option>
                <option value="0.5">Relic</option>
                <option value="0.5">Throwing Weapon</option>
                <option value="2">Two Handed Weapon</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label" for="item-level">Item ilvl</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="item-level" placeholder="Enter the item's ilvl">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="calculate-item-gp" type="submit" class="btn btn-default">Calculate GP</button>
        </div>
    </div>

    <div id="item-gp-group" class="form-group" style="display: none;">
        <div class="col-md-offset-2 col-sm-10">
            <p id="item-gp-value" class="h4"></p>
        </div>
    </div>
</form>




@section scripts {
    <script>
        $(function() {

            $("#calculate-item-gp").click(function(e) {
                e.preventDefault();

                var itemRarity = $("#item-rarity").val();
                var itemLevel = $("#item-level").val();
                var slot = $("#slot-weight").val();

                if (!itemLevel) {
                    return;
                }

                var ilvl = parseInt(itemLevel);
                var rarity = parseInt(itemRarity);
                var slotWeight = parseFloat(slot);
                var itemWeight = ((ilvl / 26) + (rarity - 4));
                var itemValue = itemWeight * slotWeight;

                console.log("Calculating item GP...");
                console.log("ilvl: " + ilvl);
                console.log("rarity: " + rarity);
                console.log("slot weight: " + slotWeight);
                console.log("item weight: " + itemWeight);
                console.log("item value: " + itemValue);
                
                var gp = 4.83 * Math.pow(2, itemValue) * 1;

                var gpRounded = Math.floor(gp);

                $("#item-gp-value").text("The item is worth " + gpRounded + "GP");
                $("#item-gp-group").show();
            });

        });
    </script>
}